{% extends 'base.html' %}

{% block title %}Report{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <h1 class="h1 pretty">Dashboard Overview - FTF</h1>
    <br>
    <h4 class="fw-normal accent-color">Hello, {{ first_name }}! Curious about your kitchen habits?</h4>
    <p class="lead fw-light">Dive into your personalized statistics page to uncover fascinating insights about your most used ingredients and how your meal planning varies throughout the week with AI-Driven insights.</p>
    <br><br>

    <div class="mb-5">
      <h2 class="accent-color">Enhance Your Diet with AI-Driven Insights ✨</h2>
      <!-- Recommendation Button -->
      {% if can_request_recommendation %}
        <a href="{% url 'generate-recommendation' %}" class="btn btn-primary">Get Lifestyle Recommendation</a>
      {% else %}
        <p class="lead fw-light">Your next recommendation will be available in <strong> {{ days_until_next_recommendation }} days. </strong></p>
      {% endif %}
    </div>

    <!-- Display Most Used Ingredients -->
    <div class="mb-3">
      <h2 class="accent-color">Most Used Ingredients</h2>
      <p class="lead fw-light">A visual snapshot of the ingredients you turn to most often in your culinary adventures.</p>
      <img src="data:image/png;base64,{{ ingredients_image_base64 }}" style="width:100%; height:auto;" alt="Most Used Ingredients" >
    </div>

    <!-- Display Requests per Day of the Week -->
    <div>
      <h2 class="accent-color">Requests per Day of the Week</h2>
      <p class="lead fw-light">Ever wonder which days you're most likely to be bustling in the kitchen? A clear visual representation of when you're cooking the most.</p>
      <img src="data:image/png;base64,{{ daily_stats_image_base64 }}" style="width:100%; height:auto;" alt="Requests per Day of the Week" >
    </div>
  </div>
{% endblock %}