{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>FridgeToFeast - {% block title %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="{% static "kitchen/css/custom.css" %}" rel="stylesheet">
  <link href="{% static "kitchen/css/buttons.css" %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Glory:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "kitchen/favicon/apple-touch-icon.png" %}?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "kitchen/favicon/favicon-32x32.png" %}?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "kitchen/favicon/favicon-16x16.png" %}?v=2">
  <link rel="manifest" href="{% static "kitchen/favicon/site.webmanifest" %}?v=2">
  <link rel="mask-icon" href="{% static "kitchen/favicon/safari-pinned-tab.svg" %}?v=2" color="#812da9">
  <link rel="shortcut icon" href="{% static "kitchen/favicon/favicon.ico" %}?v=2">
  <meta name="apple-mobile-web-app-title" content="FridgeToFeast">
  <meta name="application-name" content="FridgeToFeast">
  <meta name="msapplication-TileColor" content="#812da9">
  <meta name="msapplication-config" content="{% static "kitchen/favicon/browserconfig.xml" %}">
  <meta name="theme-color" content="#812da9">
  {% block styles %}{% endblock %}
</head>

<body>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}
            {% endblock %}
        })

    </script>
  <div id="header">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static "kitchen/icon/isotype-100x100.png" %}" width="50" class="d-inline-block align-text-middle" alt="Logo">
        </a>
        {% if request.user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Generate Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kitchen:list' %}">Edit kitchen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'statistics_overview' %}">AI Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recipe:history' %}">My recipes</a>
            </li>
          </ul>
          <span class="navbar-text">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary btn-sm">Logout</button>
            </form>
          </span>
          <img src="{% static "kitchen/icon/moon.png" %}"  alt="Darkmode" id="icon">
        </div>
        {% endif %}
      </div>
    </nav>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <footer class="py-3 my-4 border-top">
      <p class="fs-6 fw-light text-center">Powered by AI</p>
      <p class="fs-6 fw-light text-center">© 2024 FTF Team</p>
    </footer>
  </div>

  <div id="notification-panel" style="display: none;">
    <!-- Aquí se agregarán las notificaciones dinámicamente -->
  </div>
  <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        var icon = document.getElementById("icon");
        if (localStorage.getItem('darkTheme') === 'true') {
            document.documentElement.setAttribute("data-bs-theme", "dark");
            document.body.classList.add("dark-theme");
            icon.src = "{% static 'kitchen/icon/sun.png' %}";
        } else {
            document.documentElement.setAttribute("data-bs-theme", "light");
            document.body.classList.remove("dark-theme");
            icon.src = "{% static 'kitchen/icon/moon.png' %}";
        }

        icon.onclick = function() {
            document.body.classList.toggle("dark-theme");
            // Al hacer clic, alterna el estado y actualiza `localStorage`.
            if (document.body.classList.contains("dark-theme")) {
                document.documentElement.setAttribute("data-bs-theme", "dark");
                localStorage.setItem('darkTheme', 'true');
                icon.src = "{% static 'kitchen/icon/sun.png' %}";
            } else {
                document.documentElement.setAttribute("data-bs-theme", "light");
                localStorage.setItem('darkTheme', 'false');
                icon.src = "{% static 'kitchen/icon/moon.png' %}";
            }
        };
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% block scripts %}
  {% endblock %}

</body>

</html>
