{% extends 'base.html' %}
{% load static %}

{% load django_bootstrap5 %}
{% block styles %}
<link href="{% static "kitchen/reminder.css" %}" rel="stylesheet">
<style>
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink-caret {
    50% { border-color: transparent; }
  }

  .typewriter h2 {
    color: #f58243;
    font-family: 'Glory';
    font-weight: 800;
    overflow: hidden;
    border-right: .15em solid orange;  /* Caret color */
    white-space: nowrap;
    margin: 0 auto; /* Centers the text */
    padding: 10px 0; /* Reduces vertical spacing */
    letter-spacing: .05em;
    animation: 
      typing 3.5s steps(40, end) forwards, /* 'forwards' keeps the text at final state */
      blink-caret .75s step-end infinite;
  }
</style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="h1 pretty">FridgeToFeast</h1>
<p class="lead">Make the most of your food.</p>
<!-- Typewriter effect prompt -->
<div class="typewriter">
    <h2>What delicious dish can we help you cook today? Let's start</h2>
</div>
<br>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <input type="submit" class="btn btn-primary" value="Generate recipe" formaction="{% url 'recipe:generate_recipe' %}">
</form>

{% if show_modal %}
<div id="miModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Remember to update your kitchen, to cook the most delicious recipes with fresh ingredients.</p>
    <!-- Button that takes the user to the kitchen page -->
    <button onclick="window.location='{% url 'kitchen:list' %}';"  id="updateReminder" class="btn btn-primary">Go to kitchen</button>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  {% if show_modal %}
  // JavaScript code for displaying the modal
  window.onload = function() {
    var modal = document.getElementById('miModal');
    var span = document.getElementsByClassName("close")[0];
    modal.style.display = 'flex'; // This will enable flexbox and display the modal
  
    // When the user clicks on (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
  
    // When the user clicks outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  };
  {% endif %}
</script>
{% endblock %}
