{% extends 'base.html' %}
{% load static %}

{% block title %}Ingredient Management{% endblock title %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<!-- Create Ingredient Form -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="card card-body mb-3">
  <h2 class="text-center">Kitchen</h2>
  <form action="{% url 'kitchen:create' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" id="name" name="name" placeholder="Ingredient name" required>
    </div>
    <div class="mb-3">
      <input type="number" min="1" max="10000" class="form-control" id="name" name="quantity" placeholder="Quantity" required>
    </div>
    <div class="mb-3">
      <select class="form-control" id="unit" name="unit" placeholder="Unit" required>
          <option value="u">units</option>
          <option value="kg">kg</option>
          <option value="l">liters</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add ingredient</button>
  </form>
</div>

<!-- List Ingredients -->
<div class="card card-body">
  <h2 class="text-center">Ingredients List</h2>
  {% if ingredients %}
  <div class="list-group list-group-flush">
    {% for ingredient in ingredients %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-1">{{ ingredient.name }}</h5>
        <div class="fs-6">({{ ingredient.quantity }} {{ ingredient.get_unit_display }})</div>
      </div>
      <div class="btn-group column-gap-3" role="group">
          <form action="{% url 'kitchen:edit' pk=ingredient.id %}" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
          </form>
          <form action="{% url 'kitchen:delete' ingredient.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center text-muted">No ingredients added yet.</p>
  {% endif %}
</div>
{% endblock content %}
