{% extends 'base.html' %}
{% load static %}

{% block title %}Generated recipe{% endblock title %}

{% block styles %}
<link href="{% static "kitchen/recipe.css" %}" rel="stylesheet">
{% endblock styles %}

{% block domready %}
const url = '{% url "recipe:get_image" %}';
var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin',
}

document.querySelector('button#get-image')
        .addEventListener('click', function(e){
    e.preventDefault(); // Don't follow the hyperlink.
    var getImageButton = this;
    getImageButton.toggleAttribute("hidden");
    var loadingMessage = document.querySelector('p#loading');
    loadingMessage.toggleAttribute("hidden", false);

    // Request body.
    var formData = new FormData();
    formData.append('recipe_id', getImageButton.dataset.id);
    options['body'] = formData;

    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data['image_url']) {
            var image = document.querySelector('img#image');
            image.setAttribute("src", data['image_url']);
            image.toggleAttribute("hidden");
            loadingMessage.toggleAttribute("hidden", true);
        }
    });
 });
{% endblock %}

{% block content %}
{% if recipe is None %}
<div class="alert alert-danger" role="alert">
{{ error_message }}
</div>
{% else %}
<h1 class="mt5">
{{ recipe.title }}
</h1>
<ol>
{% for step in recipe.description %}
<li>{{ step }}</li>
{% endfor %}
</ol>
<!-- Since we are just using around 100 tokens, the response might get cut off. -->
<p class="fs-1">…</p>
<div class="container mb-4">
<button id="get-image" class="button-85" data-id="{{ recipe.id }}">Generate image</button>
<p id="loading" hidden>Loading, please wait…</p>
<img id="image" hidden class="img-fluid" alt="AI-generated image of the recipe.">
</div>
<a type="button" class="btn btn-another-recipe" href="{% url 'home' %}">Generate another recipe</a>
{% endif %}
{% endblock content%}
